{% load i18n %}
{% if feedback_form.errors %}
		<script type="text/javascript">
			$(document).ready(function(){
				console.log('hey');
				console.log('{{feedback_form.errors}}');
				$("#feedbackModal").modal({
					show : true,
					});
				});
		</script>
	{% endif %}
	<div id="feedbackModal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">
	    	{% trans 'Submit Feedback and Rate This Applicant' %}
	    </h3>
	  </div>
	  <form name="app_reply_form" method="post" action="{% url submit_feedback %}">{% csrf_token %}
	  <div class="modal-body row-fluid">
	  		
	  </div>
	  <div class="modal-footer">
	  	<button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Saving Feedback ...' %}">{% trans 'Send Feedback' %}</button>
	    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</button>
	  </div>
	  </form>
	</div>