{% extends 'gigs/applier/applier.html' %}

{% load mezzanine_tags i18n pages_tags humanize %}

{% block company_toolbar %}
        <div class="btn-toolbar" style="margin: 2;">
              <div class="btn-group">
                <a class="btn {% if 'inbox' in request.META.PATH_INFO %}active{% endif %}" href="{% url messages_inbox %}">{% trans 'Inbox' %}</a>
                <a class="btn {% if 'outbox' in request.META.PATH_INFO %}active{% endif %}" href="{% url messages_outbox %}">{% trans 'Sent Messages' %}</a>
                <a class="btn {% if 'trash' in request.META.PATH_INFO %}active{% endif %}" href="{% url messages_trash %}">{% trans 'Trash' %}</a>
              </div>
            </div>
{% endblock %}

{% block company_block %}
    
    {% with company=request.user.company %}
            {% comment %}
            {% if message.read_at %}class="read"{% endif %}{% if message.sender.is_staff %}class="info"{% endif %}>   
            {% endcomment %} 

            <ul class='unstyled'>
                {% for message in message_list %}
                {% if not message.application %}
                <li class='fluid-row message {% if message.read_at %}read{% endif %}'>

                    <div class="media">      
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/media/profiles/profile.jpg">
                        </a>
                        
                        <div class="media-body">
                            <a class="fill-div" href="{{ message.get_absolute_url }}">
                        <h4 class="media-heading">{{ message.sender }}
                            <span class="pull-right"><small>{% if 'today' in message.sent_at|naturalday %}
                            {{ message.sent_at|date:"h:m a" }}{% else %}{{ message.sent_at|date:"D d" }}{% endif %}
                                </small></span>
                        </h4>
                        <br />
                            <p><strong>{{ message.subject|capfirst }}</strong> {{ message.body|truncatewords:10 }}</p>
                        </a>      
                      </div><!-- end .media-body -->
                         
                    </div><!-- end .media -->
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            
        
    {% endwith %}

{% endblock %}


