{% load i18n future %}

<link rel="stylesheet" href="{{ STATIC_URL }}mezzanine/css/editable.css">
{{ richtext_media|safe }}
<script>
{% url "fb_browse" as fb_browse_url %}
{% url "static_proxy" as static_proxy_url %}
window.__filebrowser_url = '{{ fb_browse_url }}';
window.__toolbar_html = '{{ toolbar|escapejs }}';
window.__static_proxy = '{{ static_proxy_url }}';
</script>
<script src="{{ STATIC_URL }}mezzanine/js/jquery.tools.toolbox.expose.js"></script>
<script src="{{ STATIC_URL }}mezzanine/js/jquery.tools.overlay.js"></script>
<script src="{{ STATIC_URL }}mezzanine/js/jquery.form.js"></script>
<script src="{{ STATIC_URL }}mezzanine/js/jquery.ba-resize.js"></script>
<script src="{{ STATIC_URL }}mezzanine/js/editable.js"></script>
<script src="{{ STATIC_URL }}js/jquery.slide-to-top-accordion.js"></script>




<!-- JS JQuery ================ --> 

<script src="{{ STATIC_URL }}js/ddsmoothmenu-min.js"></script><!-- desktop edge detect menu --> 
<script src="{{ STATIC_URL }}js/jquery.dcjqaccordion.2.7.min.js"></script><!-- mobile multi-level accordion menu --> 
<script src="{{ STATIC_URL }}js/jquery.easytabs.min.js"></script><!-- tabs/testimonials --> 
<script src="{{ STATIC_URL }}js/slide-to-top-accordion-min.js"></script><!-- slide to top accordion toggle --> 
<script src="{{ STATIC_URL }}js/jquery.easing-1.3.min.js"></script><!--easing--> 
<script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script><!--flexslider content slider twitter slider and initializations--> 
<script src="{{ STATIC_URL }}js/responsive-tables.js"></script><!--responsive table--> 
<script src="{{ STATIC_URL }}js/jquery.fitvid.js"></script><!-- responsive videos --> 

<script src="{{ STATIC_URL }}js/lemmon-slider-min.js"></script><!-- lemmon slider js --> 

<!--initialize scripts / custom scripts all pages--> 
<script src="{{ STATIC_URL }}js/scripts.js"></script>

