{% extends "gigs/get_gig.html" %}
{% load mezzanine_tags shop_tags rating_tags i18n %}

{% block meta_title %}{{ product.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in product.keywords.all %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ product.description }}
{% endmetablock %}{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
    // disable apply buttons
    $("a[data-toggle='modal']").addClass("disabled");
});
</script>
{% endblock %}

{% block extra_css %}
<style type="text/css">
.toolbar-top{
    background-color:#000;
    overflow:hidden;
    z-index: 1000;
}
.toolbar-bottom{
    background-color:#000;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:hidden;
    z-index: 2000;
}
.transparent {
    zoom: 1;
    filter: alpha(opacity=85);
    opacity: 0.85;
}
</style>
{% endblock %}

{% block extra_head %}
{{ block.super }}
<script src="{{ STATIC_URL }}mezzanine/js/jquery.tools.js"></script>
<script>var variations = {{ variations_json|safe }};</script>
<script src="{{ STATIC_URL }}cartridge/js/product_variations.js"></script>
{% endblock %}

{% block top_navigation %}
<div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    
                    <ul class="nav pull-right">
                      
                      <li class="divider-vertical"></li>
                     
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
{% endblock %}


{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ product.title }}</li>
{% endblock %}


{% block title %}
{% editable product.title %}{{ product.title|capfirst }}{% endeditable %}
{% endblock %}

{% block main %}

    <article class="entry-post row-fuild">
        <div class="company row-fuild clearfix">
            <div class="span2">
                <a href="#" class="pull-left">
                    {% if gig.company.title_is_confidential %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail 'company_logos/employer_default.png' 63 63 %}">
                        {% elif product.gig.company.twitter_username %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="http://twitter.com/api/users/profile_image/{{ product.gig.company.twitter_username }}?size=bigger">
                        {% elif product.gig.company.profile_picture %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail product.gig.company.profile_picture 73 73 %}">
                        {% else %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail 'company_logos/employer_default.png' 73 73 %}">
                    {% endif %}
                </a>
            </div>
            <div class="span5" id="company_title" style="margin-left:-20px">
                {% if not product.gig.company.title_is_confidential %}
                <a href="#"><h2>{{ product.gig.company.company_name|capfirst }}</h2>
                <span class="">{{ product.gig.company.elevator_pitch|capfirst }}</span></a>
                {% else %}
                <a href="#"><h2>{% trans 'Company Confidential' %}</h2>
                {% endif %}
            </div>
        </div>
        <header class="entry-post page-header">
            <h1><strong>{% editable product.gig.title %}{{ product.gig.title|capfirst }}{% endeditable %}</strong></h1>
            <div class="">
                <span class="span3 {{ product.gig.job_type.type|lower}}">
                    <i class="icon-folder-open"></i>&nbsp;&nbsp;{{ product.gig.job_type.type }}
                </span>
                <span class="span5">
                    <i class="icon-map-marker"></i>&nbsp;{{ product.gig.location }}
                    {% if product.gig.is_remote %}<span class="muted small">{% trans 'Telecommute Opportunity' %}</span>&nbsp;&nbsp;<i class="icon-signal" style="color:#2a7ca5"></i>{% endif %}
                </span>
                <span class="pull-right">
                    <i class="icon-time"></i>
                    <abbr class="published" title="{{ product.gig.publish_date|date:'M d' }}">{{ product.gig.publish_date|date:'M d, Y' }}</abbr>
                </span>
            </div>
        </header>
        <div class="">
            {% editable product.gig.content %}{{ product.gig.content|safe}}
            {% endeditable %}
            {% if product.gig.perks or product.gig.apply_instructions %}
            <div class="important">
                {% if product.gig.perks %}
                <h4 class="short_headline"><span><i class="icon-star"></i>&nbsp;{% trans 'JOB PERKS' %}</span></h4>
                <p>{{ product.gig.perks|capfirst}}</p>
                {% endif %}
                {% if product.gig.apply_instructions %}
                <h4 class="short_headline">How to apply</h4><p>{{ product.gig.apply_instructions|capfirst }}</p>
                {% endif %}
            </div>
            {% endif %}
            <section>
                <a href="#" data-toggle='modal' class="btn btn-large btn-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Apply for this Job' %}&nbsp;<i class="icon-circle-arrow-right icon-white"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </section>
        </div>
        <!--
        <footer class="entry-footer"> <span class="blog date"> <span class="month">Dec</span> <span class="day">27</span> <span class="year">2012</span> </span>
        </footer>
    -->
        

    </article>

{% comment %}
{% if images %}
{% spaceless %}
<ul id="product-images-large" class="thumbnails">
    {% for image in images %}
    <li id="image-{{ image.id }}-large"{% if not forloop.first %}style="display:none;"{% endif %}>
    	<a class="product-image-large thumbnail" rel="#image-full-{{ image.id }}" href="{{ MEDIA_URL }}{{ image.file }}">
            <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 0 300 %}">
        </a>
        <div class="product-image-full" style="display:none;" id="image-full-{{ image.id }}">
            <img src="{{ MEDIA_URL }}{{ image.file }}">
        </div>
    </li>
    {% endfor %}
</ul>

{% if images|length != 1 %}
<ul id="product-images-thumb" class="thumbnails">
	{% for image in images %}
	<li>
        <a class="thumbnail" id="image-{{ image.id }}" href="{{ MEDIA_URL }}{{ image.file }}">
            <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 75 75 %}">
        </a>
    </li>
	{% endfor %}
</ul>
{% endif %}

{% endspaceless %}
{% endif %}
{% endcomment %}
{% comment %}
{% editable product.content %}
{{ product.content|safe }}
{% endeditable %}
{% endcomment %}

{% if product.available and has_available_variations %}
{% comment %}
<ul id="variations" class="unstyled">
	{% for variation in variations %}
	<li id="variation-{{ variation.sku }}"
		{% if not variation.default %}style="display:none;"{% endif %}>
		{% if variation.has_price %}
			{% if variation.on_sale %}
				<span class="old-price">{{ variation.unit_price|currency }}</span>
				{% trans "On sale:" %}
			{% endif %}
			<span class="price">{{ variation.price|currency }}</span>
		{% else %}
		    {% if has_available_variations %}
		    {% trans "The selected options are currently unavailable." %}
		    {% endif %}
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% endcomment %}
{% comment %}
<form method="post" id="add-cart" class="form-horizontal form-shop">
    {% csrf_token %}
    <span style="display:none">{% fields_for add_product_form %} </span>
    <div class="form-actions clearfix">
        <div class="form-actions-wrap">
        <input type="submit" class="btn btn-success btn-large" name="add_cart" value="{% trans "Continue (add to cart)" %}">
        <input type="submit" class="btn btn-large" name="add_wishlist" value="{% trans "Save for later" %}">
        </div>
    </div>
</form>
{% endcomment %}

{% endif %}
{% comment %}
{% rating_for product %}
{% endcomment %}
{% comment %}

{% if related_products %}
<h2>{% trans "Related Products" %}</h2>
<ul id="related-products" class="thumbnails">
    {% for product in related_products %}
    <li>
        <a class="thumbnail" href="{{ product.get_absolute_url }}">
            {% if product.image %}
            <img src="{{ MEDIA_URL }}{% thumbnail product.image 90 90 %}">
            {% endif %}
            <h6>{{ product }}</h6>
            {% if product.has_price %}
                {% if product.on_sale %}
                <span class="old-price">{{ product.unit_price|currency }}</span>
                {% endif %}
                <span class="price">{{ product.price|currency }}</span>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endcomment %}
{% endblock %}

{% block toolbar_top %}
    {% include 'gigs/includes/preview_tool_top.html' %}
{% endblock %}

{% block toolbar_bottom %}
    {% include 'gigs/includes/preview_tool_bottom.html' %}
{% endblock %}
