{% load i18n %}
<aside class="well small-well">
<h4><img src="{{STATIC_URL}}images/card.png" /></h4>
<p>

<strong>All major credit cards accepted.</strong> Payments are processed by <a target='_blank' href="http://paypal.com">Paypal</a>. (<a href='/contact/'>Contact us</a> with any questions.)
</p>
</aside>
<aside class="well small-well">
<p><strong>Need invoicing?</strong> If you’d prefer to be invoiced and pay by check rather than by credit card, please <a href='/contact/'>contact us</a> and we'll be happy to set you up for invoicing. (It’s painless!)</p>
</aside>