   {% load i18n %}
   <fieldset>
    <div class="page-header">
                <p class="control-group radioGroup">
                    <label class="span2" for="id_jobtype">{% trans 'Job Type' %}</label>
                        {% for gig_type in gig_types %}
                                <input type="radio" name="job_type" group="gig_types" value="{{ gig_type.id }}" id="{{gig_type.id}}_jobtype" {% if post_job_form.job_type.value == gig_type.id %}checked="checked"{% endif %}
                                /><label class="radioPill" for="{{gig_type.id}}_jobtype">
                                    {% if post_job_form.job_type.value = gig_type.id %}
                                    <i class="icon-ok-sign"></i>&nbsp;{% endif %}
                                    {{gig_type.type}} {% if settings.SHOP_PAYMENT_STEP_ENABLED %}{{ gig_type.price.amount }}
                                    {{ gig_type.price.currency }}
                                    {% endif %}
                                </label>
                                <!-- <br /><span class="help_text">{{gig_type.description}}</span>-->

                        {% endfor %}
                     {% if post_job_form.job_type.errors %}
                     <br /><label class="span2"></label>
                     <span class="help-block error">
                        {% for error in post_job_form.job_type.errors %}
                            {{ error}}
                        {% endfor %}
                     </span>
                     {% endif %}
                </p>
            </div>
            {% if gig_categories|length == 1 %}
                <input type='hidden' id="gig_categories" name="gig_categories" value="{% for category in gig_categories %}{{ category.id }}{% endfor %}">
            {% else %}
                    <p class="control-group">
                        <label class="span2" for="id_gig_categories">{% trans 'Categories' %}</label>
                            <select class="selectpicker {% if post_job_form.gig_categories.errors %}error{% endif %}" name="gig_categories" id="id_gig_categories" multiple data-selected-text-format="count>3" title="{% trans 'Choose one or more category' %}..." width="auto">
                                 {% for category in gig_categories %}
                                    <option value="{{ category.id }}" data-subtext="{{ category.description }}">{{ category.title }}</option>
                                 {% endfor %}
                            </select>
                            {% if post_job_form.gig_categories.errors %}
                            <br /><label class="span2"></label>
                            <span class="help-block error">
                            {% for e in post_job_form.gig_categories.errors %}
                                {% trans 'Please select at least one job category.' %}
                            {% endfor %}
                            </span>
                            {% endif %}
                    </p>
            {% endif %}
                    <p class="control-group">
                        <label class="span2" for="id_title">{% trans 'Job Title' %}</label>
                        <input id="id_title" class="span6 {% if post_job_form.title.errors %}error{% endif %}" type="text" name="title" maxlength="255" value="{% if post_job_form.title.value %} {{ post_job_form.title.value }}{% else%}{% endif %}"  />
                        {% if post_job_form.title.errors %}
                        <br /><label class="span2"></label>
                            <span class="help-block error">
                            {% for e in post_job_form.title.errors %}
                                {{e}}
                            {% endfor %}
                            </span>
                        {% endif %}
                    </p>
            <div class="page-header">
                    <p class="control-group">
                        <label class="span2" for="id_location">{% trans 'Job Location' %}</label>
                        <input class="span6 {% if post_job_form.location.errors %}error{% endif %}" id="id_location" type="text" name="location" maxlength="200" value="{% if post_job_form.location.value %}{{ post_job_form.location.value }}{% else %}{% endif %}" />
                         
                        <br /><label class="span2"></label>
                        {% if post_job_form.location.errors %}
                            <span class="help-block error">
                            {% for e in post_job_form.location.errors %}
                                {{e}}
                            {% endfor %}
                        {% endif %}
                        <span class="help_text">{% trans 'Examples: San Francisco, CA; Seattle; Anywhere' %}</span>
                    </p>
                    <p class="offset2">
                        <label class="checkbox" for="id_is_relocation">{{ post_job_form.is_relocation }}
                        Relocation assistance offered for this opposition</label>
                        <label class="checkbox" for="id_is_remote">{{ post_job_form.is_remote }}
                        Work can be done from anywhere (i.e. telecommuting)</label>
                        <input type="hidden" name="latitude" id="id_latitude" value="{{ post_job_form.latitude.value }}" />
                        <input type="hidden" name="longitude" id="id_longitude" value="{{ post_job_form.longitude.value }}" />
                        <input type="hidden" name="area_level1" id="id_area_level1" value="{{ post_job_form.area_level1.value }}">
                        <input type="hidden" name="area_level2" id="id_area_level2" value="{{ post_job_form.area_level2.value }}">
                        <input type="hidden" name="area_level3" id="id_area_level3" value="{{ post_job_form.area_level3.value }}">
                        <input type="hidden" name="area_level4" id="id_area_level4" value="{{ post_job_form.area_level4.value }}">
                    </p>
            </div>
            <div class="page-header">
                    <p class="control-group">
                        <label class="span2" for="id_content">{% trans 'Description' %}</label>
                        <textarea id="id_content" rows="30" name="content" class="span10 myTextEditor">{% if post_job_form.content.value %}{{ post_job_form.content.value }}{% else %}{% endif %}</textarea> 
                        <br /><span class="help-block"></span>
                        {% if post_job_form.content.errors %}
                        <label class="span2"></label>
                        <span class="help-inline error">
                            {% for e in post_job_form.content.errors %}
                                {{e}}
                            {% endfor %}
                        </span>
                        {% endif %}
                    </p>                                                   
            </div>
            <div class='page-header'>
                <p class="control-group">
                        <label class="span2" for="id_tags">{% trans 'Skills' %}</label>
                        <input id="id_title" class="span6 tm-input{% if post_job_form.tags.errors %}error{% endif %}" type="text" name="tags" placeholder="{% trans '5 skills maximum' %}" maxlength="255" value="{% if post_job_form.tags.value %} {{ post_job_form.tags.value }}{% else%}{% endif %}"  />
                        <br /><label class="span2"></label>
                        {% if post_job_form.tags.errors %}
                            <span class="help-block error">
                            {% for e in post_job_form.tags.errors %}
                                {{e}}
                            {% endfor %}
                            </span>
                        {% endif %}
                        <span class="help_text">
                            {% trans 'Examples' %}:
                            {% if gig_categories|length == 1 %}
                                {% for category in gig_categories %}
                                    {{ category.description|capfirst }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for category in gig_categories %}
                                    {{ category.description|capfirst }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </p>
            </div>
            <div class="page-header">
                    <p>
                        <label class="span2" for="id_perks">{% trans 'Job Perks' %}</label>
                        <a id="add-job-perks" href="#">{% trans 'Add job Perks' %}</a>{% trans '(Optional)' %} 
                        <a id="remove-job-perks" href="#"><i class="icon-remove"></i></a><br />
                        <textarea class="perks span10" id="id_perks" rows="3" name="perks" {% if post_job_form.perks.value %}
                        style="display:block"{% endif %}>{% if post_job_form.perks.value %}{{ post_job_form.perks.value }}{% else %}{% endif %}</textarea>
                        <br /><label class="span2"></label>
                        <span class="perks help_text">{% trans 'Sell your position! If you&#39;re willing         to relocate, mention it here. If you&#39;ve got great benefits, bonuses        , paid trips to conferences, free food, discounts, etc., talk it up.' %}</span>
                    </p>                                                                                                                                 </div>
             <div class="page-header">
                    <p class="control-group">
                    <label class="span2" for="id_how_to_apply">{% trans 'How to apply' %}</label>
                    {{ post_job_form.how_to_apply }}
                    <span id="via_url" class="input-prepend" style="display:{% if post_job_form.via_url.value %}block{% else %}none{% endif %}">
                            <span class="add-on">http://</span>
                            <input type="text" name="via_url" value="{% if post_job_form.via_url.value %}{{ post_job_form.via_url.value }}{% endif %}" />
                        </span>
                        <span id="via_email" class="input-prepend" {% if post_job_form.via_url.value %}style="display:none"{% endif %}><span class="add-on"><i class="icon-envelope"></i></span>
                            <input type="text" name="via_email" placeholder="job@domain.com" value="{% if post_job_form.via_email.value %}{{ post_job_form.via_email.value }}{% endif %}" />
                        </span>
                        {% if request.POST.via_email == "" and request.POST.via_url == "" %}
                        <p class="error">error</p>
                        {% endif %}
                    </p>
                    <label class="span2"></label>
                    <a id="add_instructions" href="#">{% trans 'Add Instructions' %}</a> {% trans '(Optional)' %}
                    <a id="remove-apply_instructions" href="#"><i class="icon-remove"></i></a><br />
                    <textarea class="add-instructions span10" id="id_apply_instructions" rows="3" cols="40" name="apply_instructions" {% if post_job_form.apply_instructions.value %}style="display:block"{% endif %}
                    >{% if post_job_form.apply_instructions.value %}{{ post_job_form.apply_instructions.value }}{% endif %}</textarea>
              </div> 
            </fieldset>