{% load i18n mezzanine_tags %}
<div class="toolbar-bottom transparent">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <h1>{% trans 'This is a Preview' %}</h1>
        </div>
        <div class="span6">
          
        {% if request.session.edit %}
          <form method="post" id="add-cart" class="form-horizontal form-shop fixed">
              {% csrf_token %}
              <span style="display:none">{% fields_for add_product_form %} </span>
              <!--
              <input type="submit" class="btn btn-large" name="add_wishlist" value="{% trans "Back to Edit" %}">
              <input type="submit" class="btn btn-success btn-large" name="add_cart" value="{% trans "Save Changes" %}">
            -->
              <a href="{% url edit_gig slug=product.gig.slug %}" class="btn btn-large">{% trans "Back to Edit" %}</a>
              <a href="{% url get_gig slug=product.gig.slug %}" class="btn btn-success btn-large">{% trans "Save Changes" %}</a>
            </form>
        {% else %}
          {% if settings.SHOP_PAYMENT_STEP_ENABLED %}
            <form method="post" id="add-cart" class="form-horizontal form-shop fixed">
              {% csrf_token %}
              <span style="display:none">{% fields_for add_product_form %} </span>
              <input type="submit" class="btn btn-large" name="add_wishlist" value="{% trans "Save for later" %}">
              <input type="submit" class="btn btn-success btn-large" name="add_cart" value="{% trans "Continue (add to cart)" %}">
            </form>
          {% else %}
              <a class="btn btn-success btn-large" href="{% url gigs.views.get_gig slug=product.gig.slug %}">{% trans 'Publish your Job' %}&nbsp;<i class="icon-circle-arrow-right icon-white"></i></a>
          {% endif %}<!-- end SHOP_PAYMENT_STEP_ENABLED -->
        {% endif %}
        </div><!-- end span6 -->
      </div>
    </div><!-- end .container -->
  </div>