<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n future %}
<html>
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.responsive.css">-->
<!-- CSS ================ -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/header-1.css" type="text/css"/>


{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script>
$(function() {
    $('.middleinput:text, textarea').addClass('xlarge');
    $('.control-group label').addClass('control-label');
});
</script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}" class="index">
  {% if request.user.is_authenticated %}
  <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    
                    <ul class="nav pull-right">
                      <!-- shop cart -->
                      {% if request.cart.has_items %}
                        <li><a href="{% url 'shop_cart' %}"><span class="badge badge-important"><i class="icon-shopping-cart"></i> Cart 
                          {{ request.cart.items.count }}</span></a></li>
                        {% endif %}
                      <!-- end shop cart -->

                      <li class="dropdown">
                        <!-- notifications -->
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'messages_inbox' %}" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="icon-globe black"></i>&nbsp;&nbsp;
                              {% if applications_inbox_count %}<span class="badge badge-important">{{ applications_inbox_count }}</span>{% endif %}
                            </a>
                            {% if unread_applications %}
                            <ul class="dropdown-menu">
                                <h5>{% trans 'Notifications' %}</h5>
                              {% for app in unread_applications %}
                                <!-- <li><a href="{{ app.get_absolute_url }}">{{ app.body|capfirst }}</a></li> -->
                                <li><a href="{{ app.get_absolute_url }}">
                                  
                                  
                                  {% if not app.sender.company %}
                                    {% if app.gig %}
                                    {{ app.sender|capfirst }} applied to "{{ app.gig.title|capfirst }}"
                                    {% else %}
                                    {{ app.sender|capfirst }} reply to {{ app.subject }}
                                    {% endif %}
                                  {% else %}
                                  {{ app.sender|capfirst }} responded to "{{ app.subject|capfirst }}" application
                                  {% endif %}

                                  <span>{{ app.sent_at|date:" d M" }}</span>
                                
                                  </a></li>
                                <li class="divider"></li>
                              {% endfor %}
                            </ul>
                            {% endif %}

                        {% endif %}
                        <!-- end notifications -->
                      </li>
                      <li class="divider-vertical"></li>
                      <li><!-- inbox -->
                      {% if request.user.is_authenticated %}
                        <a href="{% url 'messages_inbox' %}">
                          <i class="icon-envelope"></i>&nbsp;&nbsp;
                          {% if messages_inbox_count %}<span class="badge badge-important">{{ messages_inbox_count }}</span>{% endif %}
                        </a>
                      {% endif %}
                      <!-- end inbox -->
                      </li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          {% if request.user.company.twitter_username %}
                          <img  data-toggle="dropdown" class="btn dropdown-toggle" src='http://api.twitter.com/1/users/profile_image/{{ request.user.company.twitter_username }}.png?size=bigger' width='30' height='30'>&nbsp;&nbsp;<span class="caret"></span></a>
                          {% elif request.user.company.profile_picture %}
                          <img class="btn img-polaroid" src='{{ MEDIA_URL }}{% thumbnail request.user.company.profile_picture 73 73 %}'>
                          {% else %} 
                          <i class="icon-user icon-white"></i>&nbsp;&nbsp;{{ request.user|capfirst }}&nbsp;&nbsp;<span class="caret"></span>
                          {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                          {% if request.user.company %}
                            <li><a href="{% url 'company_listings' %}">{% trans ' my Listings' %}</a></li>
                          {% endif %}
                          {% if not request.user.company %}
                            <li><a href="{% url 'applier_applications' %}">{% trans ' my Applications' %}</a></li>
                          {% endif %}
                          <li><a href="{% url 'messages_inbox' %}">{% trans ' Messages' %}</a></li>
                          <li><a href="{% url 'company_infos' %}">{% trans ' Account Settings' %}</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'logout' %}"><i class="icon-off"></i> {% trans 'Logout' %}</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
  {% endif %}
  {% if not request.user.is_authenticated %}
    <section class="container preheader"> 
      
      <!--this is the login for the user-->
         <!-- <nav class="user clearfix"> <a href="login.html"><i class="icon-user"></i> Login</a></nav>  -->
         <nav class="user clearfix">{% if settings.SITE_TITLE %}<a class="" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}</nav>
      <!--close user nav-->
      <!-- login -->
      <div class="phone">

        <nav class="user clearfix"> <a href="{% url 'login' %}"><i class="icon-user"></i> Login</a> </nav> 

      </div>

      
      </section>
    {% endif %}
    <!-- dashboard nav -->
    {% if request.user.is_authenticated %}
    <div class="navbar" style="margin-top:-20px">
    <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <!-- {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %} -->
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          {% if request.user.company %}
          <li {% if 'listings' in  request.META.PATH_INFO %}class="active"{% endif %}><a href="{% url 'company_listings' %}">{% trans 'My Listings' %}</a>
          </li>
          {% else %}
          <li {% if 'application' in  request.META.PATH_INFO %}class="active"{% endif %}><a href="{% url 'applier_applications' %}">{% trans ' my Applications' %}</a></li>
          {% endif %}
          <li {% if 'messages' in  request.META.PATH_INFO %}class="active"{% endif %}><a href="{% url 'messages_inbox' %}"><i class="icon-envelope"></i>&nbsp;&nbsp;{% trans 'Messages' %}</a></li>
          <li {% if 'info' in  request.META.PATH_INFO %}class="active"{% endif %}><a href="{% url 'company_infos' %}">{% trans 'Company Info' %}</a></li>
          <li><a href="#"><i class="icon-cog"></i>&nbsp;&nbsp;{% trans 'My Account' %}</a></li>
        </ul>
      </div>
 
          </div>
        </div>
      </div>
      {% endif %}
      <!-- dashboard nav -->
      <!-- begin .header-->
      {%if not request.user.is_authenticated %}
<header class="header clearfix"> <img src="assets/images/print-logo.png" class="print logo" alt="name of company" />
    <div class="container"> 

        <!-- begin #main_menu -->
        <nav id="main_menu">
            <ul class="accordmobile">
            </ul>
            <div class="nav-collapse">
            {% page_menu "pages/menus/dropdown.html" %}
            </div>
        </nav>
        <!-- close / #main_menu --> 
        
        <!-- begin #logo -->
        <div id="logo"> <!-- <a href="index.html"><img alt="" src="assets/images/trans.gif" /><em>Crisp Responsive HTML Retina Ready Bootstrap Goodness</em></a>
        -->
          {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
          {% if settings.SITE_TAGLINE %}<p class="tagline">{{ settings.SITE_TAGLINE }}</p>{% endif %}
        </div>
        <!-- end #logo --> 
        
    </div>
    <!-- close / .container--> 
</header>
{% endif %}
<!-- close /.header -->
<!-- begin #page - the container for everything but header -->
<div id="page">

<div class="container">

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}

{% block title_bread %}

    <h1>{% block title %}{% endblock %}</h1>
    {% comment %}
       {% spaceless %}
    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
    {% endspaceless %}
   {% endcomment %}

{% endblock %}
</div>

<div class="container clearfix" id="main-content">
  <!--begin main content-->
  <div class="row-fluid sidebar-right">

    <div class="span9 primary-column">
        {% block main %}{% endblock %}
    </div>
    <!-- close span9 primary-column-->

    <section class="span3 sidebar secondary-column" id="secondary-nav">
        {% block right_panel %}
        {% endblock %}
    </section>

  </div>
</div>
<!--close .container id="main-content" --> 

<footer id="footer" class="clearfix">
  {% block toolbar %}{% endblock %}
  <div class="container">
    <div class="row-fluid">
          <div class="span4">
            <section>
              <h4>Contact Us</h4>
              <p>{{ settings.SITE_TITLE }}<br>
                {{ settings.ADDRESS|safe }}<br />
                <strong>phone:</strong> <a href="tel:{{ settings.PHONE }}" class="tele">{{ settings.PHONE }}</a><br>
                <strong>email:</strong> <a href="mailto:email@domain.com">crisp@companydomain.com</a> </p>
            </section>
            <!--close section-->
            
            <section>
              <h4>Follow Us</h4>
              <ul class="social">
                <li><a class="socicon rss" href="#" title="RSS"></a></li>
                <li><a class="socicon facebook" href="#" title="Facebook"></a></li>
                <li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
                <li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
                <li><a class="socicon dribbble" href="#" title="dribble"></a></li>
                <li><a class="socicon vimeo" href="#" title="Vimeo"></a></li>
              </ul>
            </section>
            <!--close section--> 
          </div>
          <!-- close .span4 --> 
          <!--section containing newsletter signup and recent images-->
          <div class="span4">
            <section>
              <h4>Stay Updated</h4>
              <p>Sign up for our crispy newsletter. We won't share your email address.</p>
              <form action="yourscript.php" method="post">
                <div class="input-append">
                  <input type="email" placeholder="Email Address" class="span6" name="email" />
                  <button class="btn btn-primary">Sign Up</button>
                </div>
                <!--close input-append-->
              </form>
            </section>
            <!--close section-->
          </div>
          <!-- close .span4 --> 
          <div class="span4">
          </div>
          <section class="footerCredits">
          <div class="container">
            <ul class="clearfix">
              <li>© 2012 {{ SITE_TITLE }} {% trans 'All rights reserved.' %}</li>
              <li><a href="sitemap.html">Site Map</a></li>
              <li><a href="privacy.html">Privacy</a></li>
            </ul>
          </div>
        <!--footerCredits container--> 
        </section>
        <!--close section-->
  </div> 
</footer>
<!--/.footer--> 
<span class="backToTop"><a href="#top">back to top</a></span> </div>
<!-- close #page--> 

{% include "includes/footer_scripts.html" %}

</body>
</html>
