{% extends 'blog_base.html' %}
{% load mezzanine_tags i18n %}

{% block extra_css %}
<style type="text/css">
div.important { 
	background:#333;
	padding:10px;
	color:#fcf8e5;
	margin:2% 0;
}
div.important * { 
	color:#fcf8e5;
}
.company{
	
}
.company #company_title{
	padding: 8px;
	background-color: #efefef;
}
</style>
{% endblock %}

{% block meta_title %}{{ gig.title }} {{ gig.company.company_name }}{% endblock %}

{% block title_bread %}{% endblock %}

{% block main %}



	<article class="entry-post row-fuild">
		<div class="company row-fuild clearfix">
			<div class="span2">
				<a href="{% url company_profile slug=gig.company.slug %}">
					{% if gig.company.twitter_username %}
					<img class="img-polaroid" alt="{{ image.description }}" src="http://api.twitter.com/1/users/profile_image/{{ gig.company.twitter_username }}.png?size=bigger">
					{% else %}
				<img class="img-polaroid" alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail gig.company.profile_picture 73 73 %}">
					{% endif %}
				</a>
			</div>
			<div class="span5" id="company_title">
				<a href="#"><h2>{{ gig.company.company_name|capfirst }}</h2>
				<span class="">{{ gig.company.elevator_pitch|capfirst }}</span></a>
			</div>
		</div>
		<header class="entry-post page-header">
			<h1><strong>{% editable gig.title %}{{ gig.title|capfirst }}{% endeditable %}</strong></h1>
			<div class="">
				<span class="span3">
					<i class="icon-folder-open"></i>&nbsp;&nbsp;{{ gig.job_type.type }}
				</span>
				<span class="span4">
					<i class="icon-map-marker"></i>&nbsp;{{ gig.location }}
				</span>
				<span class="pull-right">
					<i class="icon-time"></i>
					<abbr class="published" title="{{ gig.publish_date|date:'M d' }}">{{ gig.publish_date|date:'M d, Y' }}</abbr>
				</span>
			</div>
		</header>
		<div class="">
			{% editable gig.content %}{{ gig.content|safe}}
			{% endeditable %}
			{% if gig.perks or gig.apply_instructions %}
			<div class="important">
				{% if gig.perks %}
				<h4 class="short_headline"><span><i class="icon-star"></i>&nbsp;{% trans 'JOB PERKS' %}</span></h4>
				<p>{{ gig.perks|capfirst}}</p>
				{% endif %}
				{% if gig.apply_instructions %}
				<h4 class="short_headline">How to apply</h4><p>{{ gig.apply_instructions|capfirst }}</p>
				{% endif %}
			</div>
			{% endif %}
			<section>
				<a href="#" class="btn btn-large btn-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Apply for this Job' %}&nbsp;<i class="icon-circle-arrow-right icon-white"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			</section>
		</div>
		
		
		<!--
		<footer class="entry-footer"> <span class="blog date"> <span class="month">Dec</span> <span class="day">27</span> <span class="year">2012</span> </span>
		</footer>
	-->
		

	</article>
{% endblock %}

{% block right_panel %}
	<aside class="widget clearfix">
		<section>
		<a href="#" class="btn btn-success btn-block btn-large">Apply for this Job&nbsp;<i class="icon-circle-arrow-right icon-white"></i></a>
	</section>
		
    </aside>
    <aside class="widget clearfix">
	        <ul class="unstyled">
	        	<li><a href="#" class="btn btn-block"><i class="icon-share icon-white"></i>&nbsp;Share this listing</a></li>
	        	<li class="divider"></li>
	        	<li><a href="#" class="btn btn-block"><i class="icon-star icon-white"></i>&nbsp;Add to Favorites</a></li>
	        </ul>

    </aside>
    <aside class="widget">
		<h3 class="">
            <span>{% trans 'Recommended Jobs' %}</span>
        </h3>
		<ul class="social">
			<li><a class="socicon rss" href="#" title="RSS"></a></li>
            <li><a class="socicon facebook" href="#" title="Facebook"></a></li>
			<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
			<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
			<li><a class="socicon dribbble" href="#" title="dribble"></a></li>
			<li><a class="socicon vimeo" href="#" title="Vimeo"></a></li>
		</ul>
	</aside>
    <aside class="widget">
		<h3 class="short_headline">
            <span>{% trans 'Follow' %}</span> {{ settings.SITE_TITLE }}
        </h3>
		<ul class="social">
			<li><a class="socicon rss" href="#" title="RSS"></a></li>
            <li><a class="socicon facebook" href="#" title="Facebook"></a></li>
			<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
			<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
			<li><a class="socicon dribbble" href="#" title="dribble"></a></li>
			<li><a class="socicon vimeo" href="#" title="Vimeo"></a></li>
		</ul>
	</aside>

{% endblock %}