{% extends 'base.html' %}
{% load mezzanine_tags i18n pages_tags humanize %}

{% block meta_title %}{% trans "All Jobs" %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}webcreate/css/jquery.ias.css" />
<style type="text/css">
/*
.jobs-list {
    list-style:none;
    margin:0;
    padding:0;
    min-height:1%
}
.jobs-list .contract {
    float:right;
    text-transform:uppercase;
    font-size:12px;
    font-weight:bold;
    color:#4b5a76;
    height:17px;
    line-height:20px
}
.jobs-list .job-item {
    border-top:1px solid #d9d9e1;
    padding:20px 0;
    width:100%;
    min-height:1%;
    position:relative
}
.jobs-list .job-item:first-child {
    border-top:0
}
.jobs-list .job-item a:hover {
    text-decoration:underline
}
.jobs-list .job-item .job-infos {
    float:left;
    width:780px
}
.jobs-list .job-item .job-title {
    float:left;
    line-height:15px;
    padding-bottom:8px;
    margin:0
}
.jobs-list .job-item .job-title:first-letter {
    text-transform:uppercase
}
.jobs-list .job-item .job-title .job-link {
    font-size:16px;
    color:#4b5a76
}
*/

.tag {
    padding:0 9px;
    position:relative;
    background:#f1f1f7;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    border:0;
    height:21px;
    line-height:21px;
    -webkit-box-shadow:0 1px 0 #ceced8;
    -moz-box-shadow:0 1px 0 #ceced8;
    box-shadow:0 1px 0 #ceced8;
    margin-right:4px;
    color:#43536f;
    font-size:13px;
    font-weight:bold;
    font-family:"ProximaNovaSemibold";
    display:-moz-inline-box;
    -moz-box-orient:vertical;
    display:inline-block;
    vertical-align:middle;
    *vertical-align:auto;
    cursor:pointer
}
 .tag {
    *display:inline
}
 .tag:hover {
    text-decoration:none;
    cursor:pointer;
    background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f7f7f9),color-stop(100%,#e8e8ed));
    background-image:-webkit-linear-gradient(#f7f7f9,#e8e8ed);
    background-image:-moz-linear-gradient(#f7f7f9,#e8e8ed);
    background-image:-o-linear-gradient(#f7f7f9,#e8e8ed);
    background-image:-ms-linear-gradient(#f7f7f9,#e8e8ed);
    background-image:linear-gradient(#f7f7f9,#e8e8ed);
    color:#43536f
}
.jobs-list .job-item.highlight {
    background:#fff6ef
}
 .tag {
    background:#fffffe;
    -webkit-box-shadow:0 1px 0 #d0d0d9;
    -moz-box-shadow:0 1px 0 #d0d0d9;
    box-shadow:0 1px 0 #d0d0d9
}
/*
.jobs-list .job-item.soldout {
    filter:alpha(opacity=80);
    opacity:.8
}
.jobs-list .job-item.soldout+.job-item {
    border-top-color:#ececf0
}
.jobs-list .job-item.soldout+.job-item.soldout {
    border-top-colot:#d9d9e1
}
.jobs-list .job-item .job-details {
    clear:both;
    /* line-height:11px; 
    line-height:14px;
    font-size:12px;
    font-weight:bold
}
.jobs-list .job-item .job-details .company {
    color:#0c88cc
}
.jobs-list .job-item .job-details-left {
    float:left;
    color:#8b95a2
}
.jobs-list .job-item .job-details-right {
    float:right;
    font-size:12px;
    color:#8b95a2;
    font-family:"ProximaNovaSemibold"
}
.jobs-list .job-item .job-details-right span.time {
    float:right;
    font-size:11px;
    color:#a6a7ba
}
.jobs-list .btn-pink.small {
    float:left;
    margin-left:12px;
    box-shadow:none
}
.jobs-list .heart {
    margin-top:3px; 
}

/* Infinite scroll */
#more{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CFCFCF;
    color: #000000;
    display: none;
    font-weight: bold;
    left: 1100px;
    padding: 5px;
    /* position: fixed;
    top: 100px;
    */
        }
#no-more{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CFCFCF;
    color: #000000;
    display: none;
    font-weight: bold;
    left: 1100px;
    padding: 5px;
    /*
    position: fixed;
    top: 100px;
    */
}

#scrolling_date{
    background: none repeat scroll 0 0 yellow;
    border: 1px solid #CFCFCF;
    color: #000000;
    display: none;
    font-weight: bold;
    left: 100px;
    padding: 5px;
    position: fixed;
    top: 100px;
        }

/* id_search styling */
#id_search{
    background-color: #4c5966;
    padding-top:20px;
    padding-bottom:2px;
    padding-right:5px;
    padding-left:5px;
}
#id_search input{
    padding:15px;
    font-size: 14px;
}
#id_filter{
    margin-top:5px;
    background-color: #eaeef2;
    padding:10px;
    /*color:#fff; */
}
.job-details{
    border-top:1px solid #d9d9e1;
    padding:2px;
}
#search-message{
    display:none;
    background-color:#fefdb9;
    padding:8px;
}

/*Job Styling */
.media-heading a{
    color:#0290b3;
    text-decoration: none;
}
.media-heading a:hover{
    text-decoration: underline;
}
.media a{
    margin-top:10px;
}
.skill{
    text-decoration: none;
    border-bottom:1px solid #336699;
}
</style>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript"  
                src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDAymHDaiwZfygZ80R91qeJ5Yu04ME3dtM&libraries=geometry&sensor=false&language={{ LANGUAGE_CODE }}&components=country:{{ settings.COUNTRY }}"></script>
<!--
<script type="text/javascript"  
                src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDAymHDaiwZfygZ80R91qeJ5Yu04ME3dtM&libraries=geometry&sensor=false&language={{ LANGUAGE_CODE }}&components=country:fr"></script>-->
<script src="{{ STATIC_URL }}js/location.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}webcreate/jquery-ias.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#id_find_jobs").click(function(e){
        e.preventDefault();
        find_jobs(method = 'POST', page = 1, search = true);   
    });
    jQuery.ias({
                container : '.jobs-list', // or .media-list
                item: '.job-details',
                pagination: '.navigation',
                next: '.next a',
                loader: '<img src="{{ STATIC_URL }}webcreate/images/loader.gif"/>',
                triggerPageThreshold: 300,
                noneleft: 'No more Jobs',
                onPageChange: function(pageNum, pageUrl, scrollOffset){
                    $('.next a').attr('href','?page='+pageNum+1);
                }
            });// end jquery ias
    /*
    $('#id_filter input[type=checkbox]').each(function () {
           if (this.checked) {
               console.log($(this).val()); 
           }
    });
    */
    $("#id_search input[type='text']").bind('keydown keypress',function(){
        setTimeout(function() {
            find_jobs(method = 'GET', page = 1, search = true);
        }, 1000);
    });
    $("#id_filter input").click(function(){
        console.log($(this).val() + 'is clicked');
        find_jobs(method = 'GET', page = 1, search = true);
    });
    
    $("a[id^='location_']").live('click', function(e){
        e.preventDefault();
        //console.log($(this).text() + 'is clicked');
        //find_jobs(method = 'GET', page = 1, search = true);
        $("#id_location").val(jQuery.trim($(this).text()));
        find_jobs(method = 'GET', page = 1, search = true);
    });
    $("a[id^='gig_type_']").live('click',function(e){
        e.preventDefault();
        var clicked = $(this).text().toLowerCase() ;

        $("#id_filter input").each(function(){
            var checkbox_name = $(this).attr('name').toLowerCase();

            if( checkbox_name != clicked){
                $(this).attr('checked', false);
            }
        });
        find_jobs(method = 'GET', page = 1, search = true);
    });
    $("a[id^='tag_']").live('click', function(e){
        e.preventDefault();
        $('#id_what').val($(this).attr('data-tag-name'));
        find_jobs(method = 'GET', page = 1, search = true);
    });

});
function find_jobs(method, page, search){
    var gig_types = '';
        $("#id_filter input").each(function(){
            if(!this.checked && $(this).val() != 'remote'){
                gig_types += $(this).val() + ' ';
            }
            if(this.checked && $(this).val() == 'remote'){
                gig_types += '0';
            }
        });
    console.log(gig_types);
    $.ajax({
        type: method,
        url : "{% url find_jobs %}",
        data : {
            csrfmiddlewaretoken : $("input[name=csrfmiddlewaretoken]").val(),
            {% ifinstalled searchapp %}
            what : $("#id_what").val(),
            location : $("#id_location").val(),
            {% endifinstalled %}
            gig_types : gig_types,
            page : page,
        },
        dataType : 'json',
    }).done(function( msg ) {
        {% ifinstalled searchapp %}
        if(msg.what){
            $("#what").html('matching  <i class="icon-search"></i>&nbsp;&nbsp;"'+msg.what+'"');
        }else{
            $("#what").html('');
        }
        if(msg.location){
            $("#location").html('near <i class="icon-map-marker"></i>&nbsp;&nbsp;' +msg.location);
        }else{
            $("#location").html('');
        }
        {% endifinstalled %}
        
        if(msg.results){
            console.log(msg.results.length);
            var html_string = '';
            var scrolling_date = '';
            for(var i = 0; i < msg.results.length; i++){
                    
                html_string +="<div class='row job-details' style='margin-left:5px;{% comment %}{% if forloop.first %}background-color:#fff6ef{% endif %}{% endcomment %}'>";
                html_string +="<div class='span11'>\
            <ul class='media-list'>\
                <li class='media'>\
                    <a class='pull-left' href='"+ msg.results[i].gig_company_profile+"'>\
                        <img class='img-polaroid media-object' alt='' src='{{ MEDIA_URL }}{% thumbnail '"+msg.results[i].gig_company_logo+"' 63 63 %}' height='63' width='63'>\
                    </a>";
                html_string +="<div class='media-body'>\
                      <h3 class='media-heading'><a href='"+msg.results[i].gig_link+"'>"+msg.results[i].gig_title+"</a>";
                    if(msg.results[i].gig_is_new){
                        html_string +="<span class='label label-warning'>New</span>";   
                      }
                html_string +="</h3>";
                html_string +="<div class='row' style='margin-left:1px'>\
                        <div class='span6'>\
                            <a href='"+ msg.results[i].gig_company_profile+"'>"+msg.results[i].gig_company+"</a>\
                            <span class='muted'>"+ msg.results[i].gig_company_elevator_pitch+"</span>\
                        </div><!-- end .span4 -->\
                        <div class='span6'><span class='muted'><i class='icon-map-marker'></i>\
                        <a id='location_"+msg.results[i].gig_id+"'href='#'>\
                        "+msg.results[i].gig_location+"</a></span></div><!-- end .span4 --></div><!-- end .row -->";

                html_string +="<div class='row' style='margin-left:1px'>";
                if(msg.results[i].gig_tags){
                    console.log(msg.results[i])
                    for(var i = 0;i<msg.results[i].gig_tags.length; i++){
                        html_string +="<a class='btn-small btn-info skill' href='#' data-tag-name='"+msg.results[i].gig_tags[i]+"' id='tag_"+msg.results[i].gig_tags[i]+"'>"+msg.results[i].gig_tags[i]+"</a>&nbsp;"
                            }//end for
                }// end if 
                html_string +="</div>";

                      
                html_string +="</div><!-- end .media-body --></li></ul></div><!-- end .span10 -->";
                html_string +="<div class='span1'>\
            <div class='row'>\
                <div class='#'>\
                    <a href='#' id='gig_type_"+msg.results[i].gig_id+"' class='"+ msg.results[i].gig_job_type+"'>"+msg.results[i].gig_job_type+"</a>\
                </div>\
                <div class='text-center'>"+ msg.results[i].gig_publish_date+"</div>\
            </div>\
        </div><!-- end .span2 --></div><!-- end .row -->";

                //scrolling_date = msg.results[i].gig_publish_date;
                //console.log(scrolling_date);
                console.log(msg.results[i].gig_id);
            }
                
            $("#gig_types").html('');
            $("#gig_types").append("(");
            $("#id_filter input").each(function(){
            //alert($(this).attr('name'));    
            if($(this).attr('checked')){

                $("#gig_types").append($(this).attr('name')+" ");
            }

        });
        $("#gig_types").append(")");
        }else{
            $("#search-message").html("No Jobs found matching your query");
        }
        
        if(search){
            //$("#scrolling_date").text(scrolling_date);
            console.log("Search True");
            $(".jobs-list").html(html_string);}
        else{
            //$("#scrolling_date").text(scrolling_date);
            
            $(".jobs-list").append(html_string);
            //$(".jobs-list").css("border-top","2px dotted #336699");
            //$(".jobs-list").css('border-bottom', '5px dotted solid');
        }
        $("#search-message").show();

    });
}// end find_jobs()

</script>
{% endblock %}

{% block title %}{% trans "All Jobs" %}{% endblock %}

{% block title_bread %}{% endblock %}

{% block post_header %}
<div class="hero-unit center no-border no-padding-bottom">
        <div class="container"> 
            <!--note the home class on the h1 tag-->
            <h1>{% trans settings.SITE_HERO_UNIT|safe %}</h1>
        </div>
        <!--close container--> 
    </div>
    <!--close hero-unit--> 
{% endblock %}

{% block main %}
    
    {% ifinstalled searchapp %}
	 <!-- Search and Filter
    ================================================== -->
    {% block search_form %}
    <form class="form-inline" name="search" id="id_search" method="post" action="">{% csrf_token %}
        <div class="controls controls-row">
            {{ gig_search_form.what }}
            {{ gig_search_form.location }}
            <button id="id_find_jobs" type="submit" class="btn btn-primary span2">{% trans 'Find Jobs' %}</button>
        </div><!-- .controls .controls-row-->
        <div id="id_filter">
            {% for gig_type in gig_types %}
            <label class="checkbox inline {{ gig_type.type|lower }}">
              <input type="checkbox" name="{{ gig_type.type }}" id="id_{{ gig_type.type }}" value="{{ gig_type.id }}" checked> {{ gig_type.type }}
            </label>
            {% endfor %}
            <label class="checkbox pull-right">
              <input type="checkbox" id="inlineCheckbox1" value="remote" class="" name="remote"> {% trans 'Remote' %}
            </label>
        </div>
        <div id='search-message' class='row' style="margin-left:0px">
            <div class="span8">
                {% trans 'Showing all jobs' %}
                <span id="gig_types"></span>
                <span id="location"></span>
                <span id="what"></span>
                <a id="reset" class="btn btn-info btn-small" href="{% url home %}"><i class="icon-refresh"></i>&nbsp;&nbsp;Reset</a>   
            </div>
            <div class="span4">
                <button class="btn pull-right btn-small">Email / RSS Notifications</button>
            </div>
        </div>

    </form>
    
    
    {% endblock %}
    {% endifinstalled %}
    <!-- 
    <section class="">
        <form class="form-inline" name="search" id="id_search" method="post" action="">{% csrf_token %}
            <div class="control-group">
                <div class="controls">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-search"></i></span>
                  <input type="text" name="what" id="id_what" placeholder="Job Title, Keyword, Company Name ...">
                </div>
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-map-marker"></i></span>
                  <input class="" type="text" name="where" id="where" placeholder="City, State or Zip code">
                </div>
                <button id="id_find_jobs" type="submit" class="btn btn-primary">{% trans 'Find Jobs' %}</button>
              </div>   
            </div>
            <div class="control-group">
                <div class="controls">
                    <ul class="inline">
                        {% for gig_type in gig_types %}
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" checked> {{ gig_type.type }}
                            </label>
                        </li>
                        {% endfor %}
                        <li class="pull-right span2">
                            <label class="checkbox">
                                <input type="checkbox" checked>Remote
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            
        </form>
    </section>
-->
    <div class="jobs-list">
    {% for gig in gigs.object_list %}
    <div id="results"></div>
    <div class="row job-details" style="margin-left:5px;{% comment %}{% if forloop.first %}background-color:#fff6ef{% endif %}{% endcomment %}">
        <div class="span11">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="{% url company_profile slug=gig.company.slug %}">
                        {% if gig.company.title_is_confidential %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail 'company_logos/employer_default.png' 63 63 %}">
                        {% elif company.twitter_username %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="http://api.twitter.com/1/users/profile_image/{{ gig.company.twitter_username }}.png?size=bigger">
                        {% elif gig.company.profile_picture %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail gig.company.profile_picture 63 63 %}">
                        {% else %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail 'company_logos/employer_default.png' 63 63 %}">
                        {% endif %}
                    </a>
                    <div class="media-body">
                      <h3 class="media-heading"><a href="{{ gig.get_absolute_url }}">{{ gig.title|capfirst }}</a> 
                        {% if 'today' in gig.publish_date|naturalday %}<span class="label label-warning">{% trans 'New' %}</span>{% endif %}
                      </h3>
                      
                      <div class="row" style="margin-left:1px">
                        <div class="span6">
                            {% if not gig.company.title_is_confidential %}
                            <a href="{% url company_profile slug=gig.company.slug %}">{{ gig.company.company_name|capfirst }}</a>
                            <span class="muted">{{ gig.company.elevator_pitch }}</span>
                            {% else %}
                            <a href="{% url company_profile slug=gig.company.slug %}">{% trans '(Confidential)' %}</a>
                            <span class="muted">{% trans 'Company name withheld' %}</span>
                            {% endif %}
                        </div><!-- end .span4 -->
                        <div class="span6"><span class="muted"><i class="icon-map-marker"></i><a id="location_{{ gig.id }}" href="#">{{ gig.location }}</a></span></div><!-- end .span4 -->

                      </div><!-- end .row -->
                      <div class="row" style="margin-left:1px">
                            {% if gig.hidden_tags %}
                                {% for tag in gig.get_tags %}
                                    <a class="btn-small btn-info skill" href="#" data-tag-name="{{ tag }}" id="tag_{{ tag}}">{{ tag|capfirst }}</a>&nbsp;
                                {% endfor %}
                            {% endif %}
                            {% comment %}
                            <a class="btn-small btn-info skill" href="#">Django</a>&nbsp;<a class="btn-small btn-info skill" href="#">Python</a>&nbsp;<a class="btn-small btn-info skill" href="#">Java</a>&nbsp;<a class="btn-small btn-info skill" href="#">Hadoop</a>&nbsp;{% endcomment %}
                      </div>

                      
                    </div><!-- end .media-body -->
                </li>
            </ul>
        </div><!-- end .span10 -->
        <div class="span1">
            <div class="row">
                <div class="#">
                    <a href="#" class="{{ gig.job_type.title|lower }}" id="gig_type_{{gig.id}}">{{ gig.job_type.type|upper }}</a>
                </div>
                <div class="text-center">{{ gig.publish_date|date:'M d' }}</div>
            </div>
        </div><!-- end .span2 -->
        
        
    </div><!-- end .row -->
    
    {% endfor %}

    {% pagination_for gigs %}
    </div>

    <div id='scrolling_date'></div>
    <div id='more'>{% trans 'Loading More Jobs ...' %}</div>
    <div id='no-more'>{% trans 'No More Content' %}</div>

    
    <!--
	<ul class="media-list">
	{% for gig in gigs %}
        <div id="results"></div>
		<li class="media">

                    <a href="{% url company_profile slug=gig.company.slug %}" class='pull-left'>
                        {% if company.twitter_username %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="http://api.twitter.com/1/users/profile_image/{{ gig.company.twitter_username }}.png?size=bigger">
                        {% else %}
                        <img class="img-polaroid media-object" alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail gig.company.profile_picture 43 43 %}">
                        {% endif %}
                    </a>
                    <div class='media-body'>
                        <h3 class="media-heading"><a href="{{ gig.get_absolute_url }}">{{ gig.title|capfirst }}</a></h3>
                        <div class="row clearfix">
                            <div class="span6">
                            <a href="{% url company_profile slug=gig.company.slug %}">{{ gig.company.company_name|capfirst }}</a>
                            <span class="muted">{{ gig.company.elevator_pitch }}</span>
                            </div>
                            <div class="span4">
                        <a class="#">{{ gig.job_type.type }}</a>
                        
            				
            				<span class="muted"><i class="icon-map-marker"></i>{{ gig.location }}</span>
            				<span class="job-details-right">
            					<span class="text-center date">{{ gig.publish_date|date:'M d' }}
                                    <span class="month">{{ gig.public_date|date:'M' }}</span>
                                    <span class="day">{{ gig.public_date|date:'d' }}</span> 
                                </span>
            				</span>
                        </div>
                    </div>
                    </div>
                    
		</li>
	{% endfor %}
	</ul>
    
    <div id='scrolling_date'></div>
    <div id='more'>{% trans 'Loading More Jobs ...' %}</div>
    <div id='no-more'>{% trans 'No More Content' %}</div>
    -->

{% endblock %}

{% block right_panel %}
	{% include 'gigs/right_panel.html' %}
    
    <aside class="well">
        {% include 'gigs/includes/sell_point.html' %}
    </aside>
    <!--close .well -->
    <aside class="well small-well">
              {% include 'gigs/includes/social.html' %}
    </aside>
    <!--close section-->
    <aside class="well small-well">
            {% include 'gigs/includes/contact.html' %}
    </aside> 
    
    <aside class="widget">
        {% comment %}<img src="http://images.authenticjobs.com/company_logos.v1364926967.gif">{% endcomment %}
    </aside>
{% endblock %}
