{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future %}
{% block extra_css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">

<style type="text/css">
form fieldset{}
form legend{
    color:#FFFFFF;
    background-color:#7D9E40;
    padding:6px;
    font-size:100%;
    font-weight:bold;
    }
form p{
    clear: left;
    }
form p label{
     font-weight:bold;
    }
.help_text{
    width:30%;
    color:#666;
    font-size:12px;
    /* margin-left:30%; */
    text-shadow:0 1px 0 #FFFFFF;
    }
form input, form textarea{
    padding:4px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height:1.23em;
    font-size:100%;
    }
input.reqblue,select.reqblue, textarea.reqblue {
    background: top right no-repeat;
background-image: url(//cdn2.mxpnl.com/cache/4ae0a7a10db50f986cf501e1bbde8903/images/forms/required_blue.png);
}

/* for radio */
.radioGroup input[type=radio] {
  visibility: hidden;
}

.radioGroup input[type=radio]:before + label ,
.radioGroup input[type=radio]:after + label , {
  display: table;
  content: "";
}

.radioGroup input[type=radio]:after + label ,{
  clear: both;
}

.radioGroup input[type=radio]:hover + label {
  cursor: pointer;
  text-decoration: none;
  background-color: #eeeeee;
}

.radioGroup input[type=radio]+ label {
  float: left;
  line-height: 14px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 2px;
  margin-top: 0px;
  margin-bottom: 4px;
  *zoom: 1;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.radioGroup input[type=radio]:checked + label,
.radioGroup input[type=radio]:checked:hover + label  {
  color: #ffffff;
  background-color: #0088cc;
}
/*
.radioGroup input[type=radio]:checked + label> i[class*="icon-"],
.radioGroup input[type=radio]:checked + label> i[class*=" icon-"]:hover,
.radioGroup input[type=radio]:checked + label> i[class^=" icon-"],
.radioGroup input[type=radio]:checked + label> i[class^=" icon-"]:hover {
  background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings-white.png");
}
*/
</style>
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tagmanager/bootstrap-tagmanager.css" />
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="/static/grappelli/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/upload_file.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-select.min.js"></script>
<script type="text/javascript"  
                src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDAymHDaiwZfygZ80R91qeJ5Yu04ME3dtM&language={{ LANGUAGE_CODE }}&sensor=false"></script>
<script src="{{ STATIC_URL }}js/location.js"></script>
<script src="{{ STATIC_URL }}tagmanager/bootstrap-tagmanager.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    init();
    console.log('{{settings.SITE_COUNTRY}}');
    function init(){
        // for categories
        $('.selectpicker').selectpicker();

        show_optional();

        $("#id_how_to_apply").change(function(){
            var how_to_apply = $(this).val();
            if(how_to_apply == 'VIA_EMAIL') {
                $("#via_url").hide();
                $("#via_email").show();
                $("#via_email input").focus();
            }
            if(how_to_apply == 'VIA_URL') {
                $("#via_email").hide();
                $("#via_url").show();
                $("#via_url input").focus();
            }
        });

        function handle_company_logo_upload(){
        $("#id_company_profile_picture").change(function(e){
            handleFileSelect(e);
        });}

        handle_company_logo_upload();

        // Get twitter picture
        get_twitter_picture();
    }
    $(".tm-input").tagsManager({
        typeahead: true,
        CapitalizeFirstLetter: true,
        preventSubmitOnEnter: true,
        delimiters: [9, 13, 44],
        tagClass: 'tm-tag-success',
    });
        
    
    $("#id_profile_picture_choice").change(function(){
        var profile_picture_choice = $(this).val();
        if(profile_picture_choice == 'TWITTER_PICTURE'){
            $("#id_company_profile_picture").hide();
            $("#id_twitter_picture").show('slow');
            $("#id_twitter_picture input").focus();
            $("#employer_picture").attr('src', '{{STATIC_URL}}media/company_logos/employer_default.png');
        }else if(profile_picture_choice == 'OWN_PICTURE'){
            $("#id_twitter_picture").hide();
            $("#id_company_profile_picture").show('slow');
            $("#employer_picture").attr('src', '{{STATIC_URL}}media/company_logos/employer_default.png');
        }else{
            $("#id_twitter_picture").hide();
            $("#id_company_profile_picture").hide();
            $("#employer_picture").attr('src', '{{STATIC_URL}}media/company_logos/employer_default.png');
        }
    });
    function get_twitter_picture(){
        $("#get_twitter_picture").click(function(e){
            e.preventDefault();
            var twitter_username = $("#id_twitter_username").val();
            //var URL = 'https://api.twitter.com/1/users/profile_image?screen_name='+ twitter_username +'&size=bigger';
            var URL = 'http://api.twitter.com/1/users/profile_image/'+ twitter_username +'.png?size=bigger';
            $("#employer_picture").attr("src", URL);
        });
    } // end get_twitter_picture
    function show_optional(){
        function hide_optional(){
            $('a[id^="add"] ~ textarea').hide();
            $('a[id^="add"] ~ a').hide(); 
            $('a[id^="add"] ~ span').hide();
        }
        hide_optional();
        var remove_icon;        
        $('a[id^="add"]').click(function(e){
            e.preventDefault();
            $(this).parent().children("textarea").show('slow');
            $(this).parent().children("textarea").focus();
            remove_icon = $(this).parent().children('a[id^="remove"]');
            remove_icon.show("slow");
            $(this).parent().children("span").show();
            console.log(remove_icon);
            remove_icon.click(function(e){
                e.preventDefault();
                hide_optional();
            });
        });
    }// end show_optional

    /* Remove class 'error' from each corrected field 
    $('input,input.error,select.error,textarea.error').keypress(function(){
            if($(this).val()){
                $(this).removeClass("error");
                $(this).parent().find('span').remove();
            }
        });
    */
}); // end document.ready

tinyMCE.init({
    //mode : "textareas",
    mode : "specific_textareas",
    editor_selector : "myTextEditor",
    theme : "advanced",
    theme_advanced_buttons1 : "bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright, justifyfull,bullist,numlist,undo,redo",
    theme_advanced_buttons2 : "",
    theme_advanced_buttons3 : "",
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    theme_advanced_statusbar_location : "bottom",
    plugins : 'inlinepopups',
    content_css : '{{ STATIC_URL }}css/bootstrap.min.css,',
});
</script>



{% endblock %}

{% block main %}
        <form name="post_job_form" method="post" enctype="multipart/form-data" action="{% url 'post_job' %}">{% csrf_token %}
            <fieldset class="">
            <h3 class="short_headline margin-top legend"><span>{{ title }}</span></h3>
            {% if not request.user.is_authenticated and not request.user.company%}
            <div class="page-header">
                <p class="control-group">
                    <label class="span2" for="">{% trans 'Have an account?' %}</label>
                    <a class="btn btn-success" href="{% url 'login' %}">{%trans 'Sign in' %}</a> 
                    {% trans "Don't have one? No worries, you'll create one in a minute." %}
                </p>
            </div>
            {% endif %}
            {% include 'gigs/includes/post_job_form.html' %}
            {% if not request.user.is_authenticated and not request.user.company%}
                {% include 'gigs/includes/company_form.html' %}
            {% endif %}
                <div class="form-actions">
                        <input class="btn btn-success btn-large pull-right" type="submit" name="submit" value="{% trans 'Preview your listing' %}">
                </div>
            </fieldset>
        </form>


{% endblock %}

{% block right_panel %}

    {% if settings.SHOP_PAYMENT_STEP_ENABLED %}
            {% include 'gigs/includes/guarentee.html'%}
            {% include 'gigs/includes/payment_info.html' %}
    {% endif %}

    {% ifinstalled 'testimonials' %}
        {% comment %} One testimonial goes here {% endcomment %}
    {% endifinstalled %}

{% endblock %}
{% block title_bread %}{% endblock %}
