{% extends "base2.html" %}
{% load pages_tags mezzanine_tags i18n future %}
{% block extra_css %}
<style type="text/css">
form fieldset{}
form legend{
    color:#FFFFFF;
    background-color:#7D9E40;
    padding:6px;
    font-size:100%;
    font-weight:bold;
    }
form p{
    clear: left;
    }
form p label{
     font-weight:bold;
    }
.help_text{
    width:30%;
    color:#666;
    font-size:12px;
    /* margin-left:30%; */
    text-shadow:0 1px 0 #FFFFFF;
    }
form input, form textarea{
    padding:4px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height:1.23em;
    font-size:100%;
    }
</style>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
    show_optional();

    $("#id_how_to_apply").change(function(){
        var how_to_apply = $(this).val();
        if(how_to_apply == 'VIA_EMAIL') {
            $("#via_url").hide();
            $("#via_email").show();
        }
        if(how_to_apply == 'VIA_URL') {
            $("#via_email").hide();
            $("#via_url").show();
        }
    }); 
    function show_optional(){
        function hide_optional(){
            $('a[id^="add"] ~ textarea').hide();
            $('a[id^="add"] ~ a').hide(); 
            $('a[id^="add"] ~ span').hide();
        }
        hide_optional();
        var remove_icon;        
        $('a[id^="add"]').click(function(e){
            e.preventDefault();
            $(this).parent().children("textarea").show();
            remove_icon = $(this).parent().children('a[id^="remove"]');
            remove_icon.show("slow");
            $(this).parent().children("span").show();
            console.log(remove_icon);
            remove_icon.click(function(e){
                e.preventDefault();
                hide_optional();
            });
        });
    }// end show_optional

}); // end document.ready
</script>
<script type="text/javascript" src="/static/grappelli/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/static/mezzanine/js/tinymce_setup.js"></script>
{% endblock %}

{% block main %}
<fieldset class="well">
    <div class="">
    <h3>{{ title }}</h3>
    </div>
        <form name="post_job_form" method="post" action="{% url 'post_job' %}">{% csrf_token %}
            {{request.POST.submit}}
            {% if not request.user.is_authenticated and not request.user.company%}
            <div class="page-header">
                <p class="control-group">
                    <label class="span2" for="">Have an account?</label>
                    <a class="btn btn-success">Sign in</a> 
                    Don't have one? No worries, you'll create one in a minute.
                </p>
            </div>
            {% endif %}
            {% include 'gigs/includes/post_job_form.html' %}
            {% if not request.user.is_authenticated and not request.user.company%}
                {% include 'gigs/includes/company_form.html' %}
            {% endif %}
                <div class="form-actions">
                        <input class="btn btn-success btn-large pull-right" type="submit" name="submit" value="Preview your listing">
                </div>
        </form>
</fieldset>

{% endblock %}

{% block right_panel %}
100% Satisfaction Guaranteed.
If you're not 100% satisfied with the results from your listing, request a full refund within 30 days after your listing expires. No hassle. Easy peasy.

See also our frequently asked questions.
<div class="page-header">
<img src="{{STATIC_URL}}img/test" />
</div>
{% endblock %}
{% block title_bread %}{% endblock %}
