{% extends "base2.html" %}
{% load pages_tags mezzanine_tags i18n future %}
{% block extra_css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
<style type="text/css">
form fieldset{}
form legend{
    color:#FFFFFF;
    background-color:#7D9E40;
    padding:6px;
    font-size:100%;
    font-weight:bold;
    }
form p{
    clear: left;
    }
form p label{
     font-weight:bold;
    }
.help_text{
    width:30%;
    color:#666;
    font-size:12px;
    /* margin-left:30%; */
    text-shadow:0 1px 0 #FFFFFF;
    }
form input, form textarea{
    padding:4px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height:1.23em;
    font-size:100%;
    }
</style>
{% endblock %}
{% block extra_js %}
<script type="text/javascript"  
                src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDAymHDaiwZfygZ80R91qeJ5Yu04ME3dtM&libraries=geometry&sensor=false&language=fr"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="/static/grappelli/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    show_optional();
    get_twitter_picture();

    $("#id_how_to_apply").change(function(){
        var how_to_apply = $(this).val();
        if(how_to_apply == 'VIA_EMAIL') {
            $("#via_url").hide();
            $("#via_email").show();
        }
        if(how_to_apply == 'VIA_URL') {
            $("#via_email").hide();
            $("#via_url").show();
        }
    });
    function get_twitter_picture(){
        $("#get_twitter_picture").click(function(e){
            e.preventDefault();
            var twitter_username = $("#id_twitter").val();
            var URL = 'https://api.twitter.com/1/users/profile_image?screen_name='+ twitter_username +'&size=bigger';
            //alert(URL);
            /*
            $.get(URL, function(data) {
                alert(data.location);
                console.log(data);
                $("#employer_picture").html("hello");
                //alert(data);
                alert('Load was performed.');
            }); // end get
        */
            $.ajax({ 
                'type' : 'GET',
                data: '',
                url: URL,
                async: false,
                complete: function (xhr, status) { 
                    $('#employer_picture').html(xhr.responseText); 
                }
            });
        });
    } // end get_twitter_picture
    function show_optional(){
        function hide_optional(){
            $('a[id^="add"] ~ textarea').hide();
            $('a[id^="add"] ~ a').hide(); 
            $('a[id^="add"] ~ span').hide();
        }
        hide_optional();
        var remove_icon;        
        $('a[id^="add"]').click(function(e){
            e.preventDefault();
            $(this).parent().children("textarea").show();
            remove_icon = $(this).parent().children('a[id^="remove"]');
            remove_icon.show("slow");
            $(this).parent().children("span").show();
            console.log(remove_icon);
            remove_icon.click(function(e){
                e.preventDefault();
                hide_optional();
            });
        });
    }// end show_optional
    var geocoder;
    geocoder=new google.maps.Geocoder();
    var suggestions=[];
    $("#id_location").autocomplete({
        source: function(request,add){
        geocoder.geocode( { 'address': request.term}, function(results, status) {                                                             
            if (status == google.maps.GeocoderStatus.OK){
                //console.log(results[0]['address_components'],results[0].geometry)
                for(var i=0;i<results.length;i++){
                    if(results[i]['types'][1]=='political'){
                        suggestions.push(results[i]['formatted_address']);
                        }//end if
                }//end for
                add(suggestions);
                }                                                                                                                   
            });
            },//end source function
        minLength: 1,
        select : function(e, ui){
            var loc=ui.item.value;
            console.log(loc);
            geocoder.geocode({'address':loc},function(results,status){                                                      
                if(status==google.maps.GeocoderStatus.OK){
                    //console.log('oK');
                    //console.log(results[0].geometry.location.lat());
                    //var longitude=results[0].geometry.location['Za'];
                    //var latitude=results[0].geometry.location["Ya"];
                    /*
                    $("#result").append("<input type='hidden' name='loc' id='loc' value='"+loc+"'> \
                        <input type='hidden' name='longitude' id='longitude' value='"+longitude+"'> \
                        <input type='hidden' name='latitude' id='latitude' value='"+latitude+"'>");
                    */
                    var longitude=results[0].geometry.location.lng();
                    var latitude=results[0].geometry.location.lat();
                    console.log(longitude);
                    $("#id_latitude").val(latitude);
                    console.log($("#id_latitude").val());
                    $("#id_longitude").val(longitude);
                }//end if                                                                                                       
        });//end geocode
        ui      
            },//end select
    }); // end autocomplete
}); // end document.ready

tinyMCE.init({
        mode : "textareas",
        theme : "simple"   //(n.b. no trailing comma, this will be critical as you experiment later)
});
</script>


<!--
<script type="text/javascript" src="/static/mezzanine/js/tinymce_setup.js"></script>
-->

{% endblock %}

{% block main %}
<fieldset class="well">
    <div class="">
    <h3>{{ title }}</h3>
    </div>
        <form name="post_job_form" method="post" enctype="multipart/form-data" action="{% url 'post_job' %}">{% csrf_token %}
            {% if not request.user.is_authenticated and not request.user.company%}
            <div class="page-header">
                <p class="control-group">
                    <label class="span2" for="">Have an account?</label>
                    <a class="btn btn-success">Sign in</a> 
                    Don't have one? No worries, you'll create one in a minute.
                </p>
            </div>
            {% endif %}
            {% include 'gigs/includes/post_job_form.html' %}
            {% if not request.user.is_authenticated and not request.user.company%}
                {% include 'gigs/includes/company_form.html' %}
            {% endif %}
                <div class="form-actions">
                        <input class="btn btn-success btn-large pull-right" type="submit" name="submit" value="Preview your listing">
                </div>
        </form>
</fieldset>

{% endblock %}

{% block right_panel %}
100% Satisfaction Guaranteed.
If you're not 100% satisfied with the results from your listing, request a full refund within 30 days after your listing expires. No hassle. Easy peasy.

See also our frequently asked questions.
<div class="page-header">
<img src="{{STATIC_URL}}img/test" />
</div>
{% endblock %}
{% block title_bread %}{% endblock %}
